/******************************
/* Body styles 
/******************************/

* { text-rendering: optimizeLegibility;}

body {
	color: #222222;
	font-family: Helvetica, tahoma, verdana Arial, sans-serif;
	font-size: 14px;
}
a {
	text-decoration: underline;
	color: #444;
}
a:hover {
	text-decoration: none;
}
#wrapper {
	width: 600px;
	margin: 0 auto;
	padding: 0;
    background: #fff;
}
.clear {
	clear: both;
	float: none;
}
.advertlink {font-size:0.65em; text-align:center;}
.j {text-align:justify;}
.r {text-align:right;}
.c {text-align:center;}
/* no left as it's the default */
 .pagination { display:block;}
.previous {float:left;}
.next {float:right;}

.authorimg img { border-radius:23px; float:right; vertical-align:top;}
/******************************
/* tables
/***************************
table {background-color:#EEE; width:100%;text-align:left;margin-bottom:2em; border:1px solid #666; font-size:0.75em;}
table thead tr th, table tfoot tr th { border:1px solid #777; padding:1px;font-weight:bold;}
table, tr, th, td, tbody, thead{border-collapse:collapse; border:1px solid #bbb;}
***/

/******************************
/* tablesorter
/******************************/

table.tablesorter{background-color:#EEE;font-size:8pt;width:100%;text-align:left;margin-bottom:16px;}
table.tablesorter thead tr th,table.tablesorter tfoot tr th{background-color:#EEE;border:1px solid #ddd;font-size:8pt;padding:2px 3px 2px 2px; font-weight:bold;}
table.tablesorter thead tr .header{background-image:url(img/sort.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;font-weight:bold;}
table.tablesorter tbody td{color:#3d3d3d;padding:2px 3px 2px 2px; background-color:#FFF;vertical-align:top;}
table.tablesorter tbody tr.odd td{background-color:#f0f0f6;}
table.tablesorter thead tr .headerSortUp{background-image:url(img/desc.gif);background-color:#8dbdd8;}
table.tablesorter thead tr .headerSortDown{background-image:url(img/asc.gif);background-color:#8dbdd8;}


/******************************
/* headers 
/******************************/
h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; text-decoration:underline;}
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', 'Helvetica Neue', serif;}

.os4 { font-family: 'Open Sans', sans-serif; font-weight: 400; }
.os7 { font-family: 'Open Sans', sans-serif; font-weight: 700; }

aside.ad {text-align:center; margin-left: auto; margin-right:auto; width:90%;}

/******************************
/* Media Queries 
/******************************/

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#wrapper { width: 92%; }
}

/* inbetweeners */
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
	#wrapper { width: 92%; }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	#wrapper { width: 92%; }
    table, th, tr, td { font-size:9px;}
    header img {width:100%;}
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 720px) {
	#wrapper { width: 92%; }
    table, th, tr, td { font-size:9px;}
}

/******************************
/* Header 
/******************************/

#masterhead {
	padding: 20px 0;
	margin: 0 0 10px 0; 
}
#masterhead nav {
	margin: 0;
	text-align: center;
}

#header {
	text-align: center;
	font-size: 22px;
	width: 100%;
	margin: 0 0 5px 0;
	display:block;
	padding-bottom:0.5em;
	border-bottom:1px solid #888;
}

header p { text-align:center;}
#header a {
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}

/******************************
/* Post styling
/******************************/

.post {
	padding: 20px 0;	
	line-height: 1.6em;
}
.single {
	padding: 0;
}
.post header {
	font-size: 14px;
}
.post header h2 {
	font-size: 22px;
	margin: 5px 0;
	font-weight: normal;
}
.post header h2 a {
	text-decoration: none;
	color: #222222;
	border-bottom: none;
}
.post header h2 a:hover {
	border-bottom: none;
}
.post header a.link-post {
	/* text-decoration: underline; */
	color: #9b59b6;
	border-bottom: none;
	font-weight: 200;
}
.post header h3 {
	margin: 5px 0;
	font-weight: normal;
}
.post header .date {
	color: gray;
	font-style: italic;
}
.post header a.permalink {
	font-style: italic;
	padding: 0 2px;
}
.post header a.permalink:hover {
	text-decoration: none;
}
.post blockquote {
	color: #696969;
	border-left: 2px solid #D4D4D4;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 20px 15px;
	padding: 0 20px;
}
.post a {
	color: #9b59b6;
	text-decoration: none;
}
.post a:hover {
	text-decoration: underline;
}
.post pre {
	padding: 10px 40px;
	margin: 20px;
	background: #eee;
	border-left: 5px solid #a3a3a3;
	color: #000;
}

ul.projects {list-style-type:square;}
ul.projects li {margin-bottom:2em;}

/******************************
/* Related posts
/******************************/

#related-posts {
	margin-bottom: 10px;
}

/******************************
/* Archive
/******************************/

.posts {
	list-style: none;
	padding: 0;
	margin: 0;
}
.posts a {
	text-decoration: none;
}
.posts a:hover {
	text-decoration: underline;
}
.posts .date {
	color: gray;
}

/******************************
/* Footer 
/******************************/

#footer {
	font-size: 12px;
	margin: 20px 0 0 0;
	padding: 12px 0 12px 0;
	border-top: 3px solid #eee;
	line-height: 1.5em;
}
#footer .grid {
	width: 50%;
	float: left;
}
#footer .gridright {
	width: 50%;
	float: left;
	text-align: right;
}



