---
layout: layout
title: Chelsea FC blogging
description: Short form blogging and links to Chelsea FC fan blogs
---

{% for post in site.posts %}
	<article class="post">
<header>		
{% if post.link %}
    <h3><i class="icon-bookmark"></i> 
    <a href="{{ post.link }}" class="link-post">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
    </h3>
{% else %}
    <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>
{% endif %}
</header>

		{% if post.content contains '<!--more-->' %}
  		{{ post.content | split:'<!--more-->' | first }}
		{% else %}
  		{{ post.content }}
		{% endif %}

        <p> 
            <small>
                 <a href="{{ post.url }}" class="permalink" title="Permalink"><i class="icon-star"></i></a>
                 by <a href="/{{ post.author }}">{{ post.author }}</a> →
                  dated: {{ post.date | date: "%Y-%m-%d" }} → 
                <a href="{{ post.url }}" class="comment" title="comment">Comment</a> → 
            </small>
        </p>
        
</article>

{% endfor %}

<aside>
<div id="post-pagination" class="pagination">

<ul class="pages">    
  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/"><i class="icon-long-arrow-left"></i></a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}"><i class="icon-long-arrow-left"></i></a>
      {% endif %}
    </li>
  {% else %}
    <li class="previous"><span><i class="icon-long-arrow-left"></i></span></li>
  {% endif %}

    <li class="page">
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
 
  {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path }}"><i class="icon-long-arrow-right"></i></a></li>
  {% else %}
    <li class="next"><span><i class="icon-long-arrow-right"></i></span></li>
  {% endif %}
 </ul>    
</div>
</aside>