---
layout: layout
title: Chelsea FC blogging
description: Short form blogging and links to Chelsea FC fan blogs
---

{% for post in site.posts %}
	<article class="post">

<header>		
{% if post.link %}
    <i class="icon-long-arrow-right"></i> 
    <h3>
    <a href="{{ post.link }}" class="link-post">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
    </h3>
{% else %}
    <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>
{% endif %}
</header>

		{% if post.content contains '<!--more-->' %}
  		{{ post.content | split:'<!--more-->' | first }}
		{% else %}
  		{{ post.content }}
		{% endif %}

        <p> 
            <small>
                 <a href="{{ post.url }}" class="permalink" title="Permalink"><i class="icon-star"></i></a>
                 by <a href="/{{ post.author }}">{{ post.author }}</a> →
                  dated: {{ post.date | date: "%Y-%m-%d" }} → 
                <a href="{{ post.url }}" class="comment" title="comment">Comment</a> → 
            </small>
        </p>
	</article>
	
{% if forloop.first %}

    <aside class="ad">
        <small><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></small>
        <!-- ad stuff -->
    	<p>TheChels.me is<br/>sponsored by <a href="http://www.thechels.co.uk/Amazon">Amazon</a></p>
        <p class="advertlink c"><a href="/help/#advert">[Advertise]</a></p></p>
        <!-- ad stuff -->
        <small><i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></small>
    </aside>

{% endif %}	
	
{% endfor %}
