---
layout: layout
title: Myles Munro
author: mmunro91
twitter: mmunro91
img: https://si0.twimg.com/profile_images/2928830811/54f0820f9d62dcdb703a841a4403e9d0_bigger.jpeg

---

<span class="authorimg r">
    <a href="http://twitter.com/{{page.twitter}}" title="{{page.twitter}}">
        <img src="{{page.img}}" alt="{{page.twitter}}" />
    </a>
</span>

<p>A list of articles written by {{page.author}}</p>

<ul class="posts">
{% for p in site.posts do %}
  {% if p.author == page.author %}
    <li>
        <small>
            <a href="{{ p.url }}"><i class="icon-star"></i></a> → 
            <a href="{{ p.url }}">{{ p.title }}</a> ({{ p.date | date: "%d %b %Y" }})
        </small>
    </li>
  {% endif %}
{% endfor %}
</ul>
