<footer id="footer">
<div class="grid">
<a href="/help" title="help and ways to submit"><i class="icon-question-sign"></i></a>    
<a href="/atom.xml" title="rss atom feed"><i class="icon-rss"></i></a> 
<a href="http://twitter.com/TheChelsMe" title="follow us on twitter"><i class="icon-twitter"></i></a> 
All Media &copy; 2013. 
<a target="_blank" href="http://www.TheChels.org" rel="me">TheChels.org</a> - 
<a target="_blank" href="http://www.chelseafc.com">cfc.com</a>
<a href="#top" title="back to top"><i class="icon-circle-arrow-up"></i></a>      
</div>
</footer>
<iframe id='CacheLeeCole' allowtransparency="true" src="/cacher.html" style="display:none;"></iframe>
</body>
</html>