<footer id="footer">
  		<div class="grid">
<a href="/atom.xml"><i class="icon-rss"></i></a> 
<a href="http://twitter.com/TheChelsMe"><i class="icon-twitter"></i></a> All Media &copy; The Respective Owners. 2013. 
			</div>
			
			<div class="gridright">
               <a target="_blank" href="http://www.TheChels.org" rel="me">TheChels.org</a> - <a target="_blank" href="http://www.chelseafc.com">ChelseaFC.com</a>
			</div>
</footer>
<iframe id='CacheLeeCole' allowtransparency="true" src="/cacher.html">style="display:none;"></iframe>
</body>
</html>
