---
layout: author
---

    {% include header.html %}
	<div id="wrapper">	
	    {% include nav.html %}
		<section>

{% if page.sex == 'male' %}
<h3><i class="icon-male"></i> {{page.author}}</h3>
{% elsif page.sex == 'female' %}
<h3><i class="icon-female"></i> {{page.author}}</h3>
{% elsif page.sex == 'group' %}       
<h3><i class="icon-group"></i>  {{page.author}}</h3>
{% else %}              
<h3><i class="icon-anchor"></i> {{page.author}}</h3>
{% endif %}

<h6>Bio</h6>
{{ content }}

<h6>Connect</h6>            
<ul class="social">
{% if page.website %}<li><a href="{{page.website}}"><i class="icon-home"></i></a></li>{% endif %}
{% if page.twitter %}<li><a href="http://www.twitter.com/{{page.twitter}}"><i class="icon-twitter"></i></a></li>{% endif %}
{% if page.google %}<li><a href="{{page.google}}"><i class="icon-google-plus"></i></a></li>{% endif %}
{% if page.facebook %}<li><a href="{{page.facebook}}"><i class="icon-facebook"></i></a></li>{% endif %}
{% if page.youtube %}<li><a href="{{page.youtube}}"><i class="icon-youtube"></i></a></li>{% endif %}
{% if page.pinterest %}<li><a href="{{page.pinterest}}"><i class="icon-pinterest"></i></a></li>{% endif %}
{% if page.instagram %}<li><a href="{{page.instagram}}"><i class="icon-instagram"></i></a></li>{% endif %}    
{% if page.github %}<li><a href="{{page.github}}"><i class="icon-github"></i></a></li>{% endif %}
{% if page.dropbox %}<li><a href="{{page.dropbox}}"><i class="icon-dropbox"></i></a></li>{% endif %}    
</ul>

<h6>Articles by {{page.author}}</h6>
<ul class="posts">
{% for p in site.posts do %}
  {% if p.author == page.author %}
    <li>
        <small>
            <a href="{{ p.url }}"><i class="icon-star"></i></a> → 
            <a href="{{ p.url }}">{{ p.title }}</a> ({{ p.date | date: "%d %b %Y" }})
        </small>
    </li>
  {% endif %}
{% endfor %}
</ul>
		</section>
    {% include footer.html %}	
