---
layout: layout
---

<div class="content">
	<article class="post single">
  		<header>
				
				{% if page.link %}
<h3><i class="icon-bookmark"></i> <a href="{{ page.link }}" class="link">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h3>
				{% else %}
<h3><a href="{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h3>
				{% endif %}

  		</header>
		
    	{{ content }}
  	    <p>&nbsp;</p>
  
	<p> 
            <small>
                 <a href="{{ post.url }}" class="permalink" title="Permalink"><i class="icon-star"></i></a> 
                 by <a href="/{{ page.author }}">{{ page.author }}</a> → dated: {{ page.date | date: "%Y-%m-%d" }} 
                <a href="{{ post.url }}" class="comment" title="comment">Comment</a> → 
            </small>
        </p>
        
        
	<div id="related">
 	 <h5>Related articles:</h5>
  	     <ul class="posts">
    		{% for post in site.related_posts limit:3 %}
      		<li>
                <small> 
                   <a href="{{ post.url }}"><i class="icon-star"></i></a> 
                    <a href="{{ post.url }}">{{ post.title }}</a> by <a href="/{{post.author}}">{{post.author}}</a> dated: {{ post.date | date: "%Y-%m-%d" }} →
                </small>
            </li>
    		{% endfor %}
        </ul>
	</div>
<p>&nbsp;</p>
<div class="pw-widget pw-counter-horizontal">			
	<a class="pw-button-facebook pw-look-native"></a>			
	<a class="pw-button-twitter pw-look-native"></a>			
	<a class="pw-button-linkedin pw-look-native"></a>			
	<a class="pw-button-post-share"></a>		
</div>
<script src="http://i.po.st/static/v3/post-widget.js#publisherKey=l403t279dbq60595e07e" type="text/javascript"></script>
<p>&nbsp;</p>


        {% include disqus_comments.html %}
    </article>
    
</div>
