---
layout: layout
---

<div class="content">
	<article class="post single">
  		<header>
				
				{% if page.link %}
				  <h3>→ <a href="{{ page.link }}" class="link">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h3>
				{% else %}
				  <h3><a href="{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h3>
				{% endif %}
            
           <small>★ by <span class="date"><a href="/{{ post.author }}">{{ post.author }}</a></span></small>
  		</header>
		
    	{{ content }}
  	    <p>&nbsp;</p>

        <p>
         <small>★ <span class="date">{{ page.date | date: "%B %e, %Y" }}</span> | 
         <a href="{{ post.url }}" class="permalink" title="Permalink">permalink →</a> | 
         <a href="{{ post.url }}" class="comment" title="Comment">Comment →</a>
	</small>	
	</p>    
	
        <p>&nbsp;</p>
        
        {% include disqus_comments.html %}
    </article>
    
</div>